.container {
  margin: 35px auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: black;
  height: 80vh;
  width: 55vh;
  border: 5px solid yellow;
  border-radius: 10px;
}

.b0 {
  grid-column: 1 / 3;
  grid-row: 5;
}
.bdecimal {
  grid-column: 3;
  grid-row: 5;
}
.bequals {
  grid-column: 4;
  grid-row: 4 / 6
}
.badd {
  grid-column: 4;
  grid-row: 2 / 4;
}


.btnContainer {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  height: 75%;
  width: 85%;
}

button {
  height: 100%;
  width: 100%;
  border: 1px solid black;
  font-size: 6vh;
}

.displayText {
  width: 100%;
  height: 100%;
  font-size: 8vh;
  text-align: right;
  text-overflow: clip;
  overflow: hidden;
}

.display {
  background-color: white;
  margin-top: 15px;
  margin: inherit auto;
  width: 85%;
  height: 10%;
}
button:focus {
  outline: none;
}
